
*{
    padding: 0px;
    margin: 0px;
}
.clearfix{
    clear:both;
    
}

body{
    margin: 0 Auto;
    width: 500px;
    background-color: ghostwhite;
}

.headerbar{    
    background: url('../../includes/images/headerBar.png') no-repeat;
    width: 100%;
    height: 20px;
    border: none;
}
.headerbar span{
    color: ghostwhite;
    text-transform: uppercase;
    font-size: 12px;
    text-shadow: 1px 1px grey;
}

/************** MAIN NAV ****************/
nav{    
    margin-bottom: -1px;    
    float: right;
}
ul.mainNav{    
    
    list-style-type: none;
}
ul.mainNav li{
    text-align: center;
    float: left;
    height: 29px;
    width: 71px;    
    background: url('../../includes/images/tab.png') no-repeat;
}
ul.mainNav li a {
    color: ghostwhite;
    line-height: 32px;    
    text-decoration: none;
}
ul.mainNav li:hover{
    text-align: center;
    float: left;
    height: 29px;
    width: 71px;    
    background: url('../../includes/images/tab_hover.png') no-repeat;
}



/************* LOGO *************/

#logo{
    height: 90px;
    width: 90px;
    border: none;
}


/*********** MAIN CONTENT ****************/
#mainContent{
    margin: 20px 0px;
    overflow: hidden;
}

/***************** ALL FORMS ***************/
.frm{
    margin: 0 auto;
    overflow: hidden;
}
/********** REGISTER FORM ******************/


.profile.Box label{
    margin: 5px 0px;
    display: block;
    width: 40%;
    float: left;
    text-transform: uppercase;
    color: #260A68;
    padding-left: 30px;
    
}
.profile.Box input{
    margin: 5px 0px;
    width: 50%;
    padding: 3px;
    border: 1px solid gainsboro;
    border-radius: 5px;
    float: left;
    
}
#btnReg{
    float: right;
    line-height: 20px;
    padding:0px 3px ;
    border-radius: 3px;
    text-transform: uppercase;
    color: ghostwhite;
    background: url('../../includes/images/btnsubmit.jpg') 50% 50% no-repeat;
}
#btnReg:hover{
    background: url('../../includes/images/btnsubmit.jpg') 50% 65% no-repeat;
    cursor: pointer;
    text-transform: uppercase;
    text-shadow: 1px 1px black;
    
}


/************** LOGIN FORM ********************/

.loginDetails label{
    margin: 5px 0px;
    display: block;
    width: 40%;
    float: left;
    text-transform: uppercase;
    color: #260A68;
    padding-left: 30px;
    
}
.loginDetails input{
    margin: 5px 0px;
    width: 50%;
    padding: 3px;
    border: 1px solid gainsboro;
    border-radius: 5px;
    float: left;
    
}

#btnLogin{
    float: right;
    line-height: 20px;
    padding:0px 3px ;
    border-radius: 3px;
    text-transform: uppercase;
    color: ghostwhite;
    background: url('../../includes/images/btnsubmit.jpg') 50% 50% no-repeat;
}
#btnLogin:hover{
    background: url('../../includes/images/btnsubmit.jpg') 50% 65% no-repeat;
    cursor: pointer;
    text-transform: uppercase;
    text-shadow: 1px 1px black;
    
}


/************ USER DETAILS ****************/

#userDetails, #additionalDetails{
    padding: 30px;
    
}
#userDetails fieldset, #additionalDetails fieldset{
    border: 1px solid gainsboro;
    border-radius: 5px;
    padding: 5px;
}

#userDetails label, #additionalDetails label{
    text-transform: uppercase;
    color: grey;
    float: left;
    width: 50%;
}
.userDetails{
    padding: 5px;
}










#footer{
    
    clear: both;
}
#footer footer{
    margin: 10px 0px;
}