/* 
    Document   : home.css
    Created on : Jun 30, 2013, 3:45:14 PM
    Author     : agreazel
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}
#home_content {
	float: left;
	width: 62%;
	min-height: 25em;
	background-image:url('../images/linedpaper.png');
	padding: 2em;
	border-radius: 3px;
        -webkit-box-shadow: 0 3px 10px #CCCCCC;
	-moz-box-shadow: 0 3px 10px #CCCCCC;
	box-shadow: 0 3px 10px #CCCCCC;
        margin: 1em 1em 0em 0em;
}

