/* 
    Document   : home.css
    Created on : Jun 30, 2013, 3:45:14 PM
    Author     : agreazel
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}
#home_content {
	float: left;
	width: 20em;
	min-height: 25em;
	background-image:url('../images/linedpaper.png');
	padding: 2em;
	border-radius: 3px;
	-moz-box-shadow: 0px 20px 20px #666666;
	-webkit-box-shadow: 0px 20px 20px #666666;
	box-shadow: 0px 20px 20px #666666;
}

