/* 
    Document   : login
    Created on : Jun 30, 2013, 3:58:26 PM
    Author     : agreazel
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

#loginform {
    display:block;
    background-image:url('../images/linedpaper.png');
    float:left;
    width: 9em;
    padding: 1em;
    margin:2em;
    left:20em;
    border-radius: 3px;
    -moz-box-shadow: 10px 15px 30px #000;
    -webkit-box-shadow: 10px 15px 30px #000;
    box-shadow: 10px 15px 30px #000;	
}



