/* 
    Document   : login
    Created on : Jun 30, 2013, 3:58:26 PM
    Author     : agreazel
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

#loginform {
    display:block;
    background-image:url('../images/linedpaper.png');
    float:left;
    width: 9em;
    padding: 1em;
    /*margin:2em 0 0 1em;*/
    /*left:20em;*/
    border-radius: 3px;
    -webkit-box-shadow: 0 3px 10px #CCCCCC;
    -moz-box-shadow: 0 3px 10px #CCCCCC;
    box-shadow: 0 3px 10px #CCCCCC;
    margin: 1em 0em 0em 0em;
}



