/* 
    Document   : main
    Created on : Jun 28, 2013, 2:43:11 PM
    Author     : agreazel
    Description:
        Main styles for all of the site.
*/

root { 
    display: block;
}

body {
    color: #c7c5ac;   
}

